* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    width: 100vw;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
}

/* main-section */
.main {
    margin: 10px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 36rem;
    justify-content: center;
    padding: 20px;
    gap: 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 20px #646464;
}

/* input-box with search-button */
.inp {
    display: flex;
    gap: 2px;
    border: 1px solid black;
    box-shadow: 2px 2px 7px #808080;
    border-radius: 5px;
}

/* input-box */
.inpLoc {
    outline: none;
    padding: 4px 5px;
    width: 18rem;
    border: none;
    border-radius: 5px;
    letter-spacing: 0.2px;
    font-size: 16px;
}

/* search-btn */
.btnLoc {
    border: none;
    cursor: pointer;
    padding: 3px 6px;
    background-color: transparent;
}

/* search-btn-icon */
.btnLoc i {
    color: red;
    font-weight: 900;
    font-size: 17px;
}

/* location-section */
.loc {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* location-icon */
.loc i {
    color: rgb(255, 68, 0);
    font-size: 20px;
}

/* location-name */
.loc p {
    font-size: 17px;
}

/* temperature-section with condition and date-time */
.temp-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
}

/* temperature-section of icon and temp-data */
.temp-data-main {
    display: flex;
    align-items: center;
}

/* temperature-section icon */
#imgMain img {
    height: 5rem;
}

/* temperature-data-style */
#temp {
    font-size: 50px;
    display: flex;
}

/* celcius-style of main temp-data */
.celcius {
    font-size: 32px;
    margin-top: 6px;
}

/* condition-style */
#cond {
    font-size: 25px;
}

/* main-section-style of wind-cloud-humidity-rain */
.sec-four {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    gap: 20px;
}

/* each-Section-style of wind-cloud-humidity-rain */
.sec-four-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

/* style of wind-cloud-humidity-rain icon */
.sec-four-data i {
    font-size: 25px;
}

/* style of wind-cloud-humidity-rain data*/
.sec-four-data p:nth-child(2) {
    color: red;
    font-weight: 500;
    font-size: 16px;
}

/* style of wind-cloud-humidity-rain heading */
.sec-four-data p:nth-child(3) {
    color: #02002a;
    font-weight: 500;
    font-size: 16px;
}

/* style of wind icon */
.wind i {
    color: #035446;
}

/* style of cloud icon */
.cloud i {
    color: #0187C5;
}

/* style of humidity icon */
.humidity i {
    color: #515184;
}

/* style of rain icon */
.rain i {
    color: #4C657D;
}

/* hourly-forecast-style */
.hour-for {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    overflow: auto;
    width: 36rem;
    gap: 12px;
}

/* hourly-forecast-each hour section */
#firstDay,
#secondDay {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 4px;

}

/* hourly-forecast-each hour section */
.firstHourData,
.secondHourData {
    padding: 5px 0;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.2px;
    border-radius: 7px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 1px 4px #808080;

}

/* hourly-forecast-each hour icon */
.firstImg {
    height: 52px;
}

/* future day forecast section */
#future-day-forecast {
    width: 23rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* height: 15rem; */
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow: auto;
}

/* future forecast data style*/
.forecastData {
    display: flex;
    margin: 5px;
    padding: 5px;
    border-radius: 7px;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    box-shadow: -1px 2px 5px #808080;
    color: #fff;
    padding: 5px 10px;
    margin-right: 3px;
}

/* future forecast icon style */
.forecastData .forImg {
    height: 35px;
    width: 35px;
}

/* style for scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* scrollbar tracking style */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* scrollbasr thumb style */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.922), rgba(100, 100, 100, 0.796), rgba(135, 134, 134, 0.363), rgba(228, 228, 228, 0.226));
    border-radius: 10px;
}

/* scrollbar style after hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.922), rgba(100, 100, 100, 0.796), rgba(135, 134, 134, 0.363), rgba(228, 228, 228, 0.226));
}


/* Media queries */

/* For smartphone Display with maximum width 480*/
@media screen and (max-width: 480px) {

    /* main style */
    .main {
        margin: 5px;
        min-width: 19.5rem;
    }

    /* main icon of temperature data */
    #imgMain img {
        height: 5.5rem;
    }

    /* main temp display */
    #temp {
        font-size: 60px;
    }

    /* main-section-style of wind-cloud-humidity-rain */
    .sec-four {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    /* hourly-forecast-style */
    .hour-for {
        width: 20rem;
    }

    /* hourly-forecast-each hour section */
    #firstDay,
    #secondDay {
        gap: 8px;
    }

    /* future day forecast section */
    #future-day-forecast {
        width: 20rem;
    }

}

/* Media query ends for smartphone device max-width-480px */