* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    /* height: 100vh; */
    width: 100vw;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
}

.main {
    margin: 10px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 36rem;
    justify-content: center;
    border: 2px solid red;
    padding: 20px;
    gap: 25px;
}

.inp {
    display: flex;
    gap: 10px;
}

.loc {
    display: flex;
    gap: 5px;
}

.temp-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
}

.temp-data-main {
    display: flex;
    align-items: center;
}

#imgMain img {
    height: 5rem;
}

#temp {
    font-size: 50px;
}

#cond {
    font-size: 25px;
}

.sec-four {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    gap: 20px;
}

.sec-four-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.sec-four-data i {
    font-size: 25px;
}


.hour-for {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    overflow: auto;
    width: 36rem;
    gap: 20px;
}

#firstDay,
#secondDay {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 4px;
}

.firstHourData,
.secondHourData {
    padding: 5px 0;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.2px;
    border-radius: 7px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstImg {
    height: 52px;
    /* width: 38px; */
}


#date {
    width: 23rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 15rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow: auto;
}

.forecastData {
    display: flex;
    margin: 5px;
    padding: 5px;
    border-radius: 7px;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    box-shadow: -1px 2px 5px #808080;
    color: #fff;
    padding: 5px 10px;
    margin-right: 3px;
}

.forecastData .forImg {
    height: 35px;
    width: 35px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.922), rgba(100, 100, 100, 0.796), rgba(135, 134, 134, 0.363), rgba(228, 228, 228, 0.226));
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.922), rgba(100, 100, 100, 0.796), rgba(135, 134, 134, 0.363), rgba(228, 228, 228, 0.226));
}


@media screen and (max-width: 500px) {

    #imgMain img {
        height: 5.5rem;
    }

    #temp {
        font-size: 60px;
    }

    .sec-four {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .hour-for {
        width: 20rem;
    }

    #firstDay,
    #secondDay {
        gap: 8px;
    }

    #date {
        width: 20rem;
    }

}